<div class='country__card'>
  <img src='{{this.flags.svg}}' alt='flag' />
  <h2 class='country-name'>{{this.name.official}}</h2>
  <ul class='country-info list'>
    <li class='country-info__item'>
      <p class='capital-name'><span class='subtitle'>Capital: </span>
        {{this.capital}}</p>
    </li>
    <li class='country-info__item'>
      <p class='population'><span class='subtitle'>Population: </span>
        {{this.population}}</p>
    </li>
    <li class='country-info__item'>
      <p class='languages'><span class='subtitle'>Languages: </span>
        {{this.languages}}</p>
    </li>
  </ul>
</div>